<p>Select which user should have admin privilege</p>

<div class="relative mx-5 my-1">
    <select [ngModel]="viewModel.id()" (ngModelChange)="viewModel.id.set($event)" class="border-2 border-lime-500 peer p-4 pe-9 block w-full rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600
    focus:pt-6
    focus:pb-2
    [&:not(:placeholder-shown)]:pt-6
    [&:not(:placeholder-shown)]:pb-2
    autofill:pt-6
    autofill:pb-2" (change)="Redirect()">
    @if(viewModel.users().length === 0){
        <option disabled>No available options</option>
    }
    @else {
        <option disabled value="" selected>--</option>
        @for(user of viewModel.users(); track $index){
            <option [value]="user.id">{{user.name}}</option>
        }
    }
    </select>
    <label class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
      peer-focus:text-xs
      peer-focus:-translate-y-1.5
      peer-focus:text-gray-500
      peer-[:not(:placeholder-shown)]:text-xs
      peer-[:not(:placeholder-shown)]:-translate-y-1.5
      peer-[:not(:placeholder-shown)]:text-gray-500">Select user</label>
  </div>
